Web_Service_Test/WebContent/wsdl/UserService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://impl" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://impl" xmlns:intf="http://impl" xmlns:tns1="http://entities.business.model" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://impl" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://entities.business.model"/>
   <element name="isRegistered">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="isRegisteredResponse">
    <complexType>
     <sequence>
      <element name="isRegisteredReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getLanguageById">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getLanguageByIdResponse">
    <complexType>
     <sequence>
      <element name="getLanguageByIdReturn" type="tns1:Language"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="registerNewUser">
    <complexType>
     <sequence>
      <element name="user" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="registerNewUserResponse">
    <complexType>
     <sequence>
      <element name="registerNewUserReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="hello">
    <complexType/>
   </element>
   <element name="helloResponse">
    <complexType>
     <sequence>
      <element name="helloReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUserById">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUserByIdResponse">
    <complexType>
     <sequence>
      <element name="getUserByIdReturn" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateProfile">
    <complexType>
     <sequence>
      <element name="user" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateProfileResponse">
    <complexType>
     <sequence>
      <element name="updateProfileReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://impl"/>
   <import namespace="http://entities.business.model"/>
   <complexType name="Vector">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://entities.business.model" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://impl"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <complexType name="Language">
    <sequence>
     <element name="description" nillable="true" type="xsd:string"/>
     <element name="id" type="xsd:int"/>
     <element name="users" nillable="true" type="impl:ArrayOf_xsd_anyType"/>
    </sequence>
   </complexType>
   <complexType name="User">
    <sequence>
     <element name="birthday" nillable="true" type="xsd:dateTime"/>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="firstname" nillable="true" type="xsd:string"/>
     <element name="id" type="xsd:int"/>
     <element name="language" nillable="true" type="tns1:Language"/>
     <element name="lastname" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="plates" nillable="true" type="impl:ArrayOf_xsd_anyType"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="isRegisteredRequest">

      <wsdl:part element="impl:isRegistered" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="isRegisteredResponse">

      <wsdl:part element="impl:isRegisteredResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerNewUserResponse">

      <wsdl:part element="impl:registerNewUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getLanguageByIdRequest">

      <wsdl:part element="impl:getLanguageById" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateProfileRequest">

      <wsdl:part element="impl:updateProfile" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUserByIdRequest">

      <wsdl:part element="impl:getUserById" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="helloResponse">

      <wsdl:part element="impl:helloResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUserByIdResponse">

      <wsdl:part element="impl:getUserByIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getLanguageByIdResponse">

      <wsdl:part element="impl:getLanguageByIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="helloRequest">

      <wsdl:part element="impl:hello" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerNewUserRequest">

      <wsdl:part element="impl:registerNewUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateProfileResponse">

      <wsdl:part element="impl:updateProfileResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="UserService">

      <wsdl:operation name="isRegistered">

         <wsdl:input message="impl:isRegisteredRequest" name="isRegisteredRequest">

       </wsdl:input>

         <wsdl:output message="impl:isRegisteredResponse" name="isRegisteredResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getLanguageById">

         <wsdl:input message="impl:getLanguageByIdRequest" name="getLanguageByIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:getLanguageByIdResponse" name="getLanguageByIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registerNewUser">

         <wsdl:input message="impl:registerNewUserRequest" name="registerNewUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:registerNewUserResponse" name="registerNewUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="hello">

         <wsdl:input message="impl:helloRequest" name="helloRequest">

       </wsdl:input>

         <wsdl:output message="impl:helloResponse" name="helloResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUserById">

         <wsdl:input message="impl:getUserByIdRequest" name="getUserByIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:getUserByIdResponse" name="getUserByIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateProfile">

         <wsdl:input message="impl:updateProfileRequest" name="updateProfileRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateProfileResponse" name="updateProfileResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserServiceSoapBinding" type="impl:UserService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="isRegistered">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isRegisteredRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="isRegisteredResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getLanguageById">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getLanguageByIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getLanguageByIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registerNewUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registerNewUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registerNewUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="hello">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="helloRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="helloResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUserById">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserByIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUserByIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateProfile">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateProfileRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateProfileResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserServiceService">

      <wsdl:port binding="impl:UserServiceSoapBinding" name="UserService">

         <wsdlsoap:address location="http://localhost:8080/Web_Service_Test/services/UserService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
